include MANIFEST.in
include LICENSE
include README.rst
include CHANGES
include tox.ini
include .pep8
recursive-include docs *
recursive-include test_project *
recursive-include front *
exclude *.sh
exclude .DS_Store
exclude test_project/.coverage
prune test_project_2
prune .tox
prune docs/_build
prune test_project/test_project/__pycache__
prune test_project/static/redactor*
prune test_project/htmlcov
global-exclude *pyc
global-exclude coverage.xml
